.logo a {
    border: none;
    width: 100px;
}

.logo ul a:hover {
    background-color: none;
}

.active {
    background-color: #CE72DD;
    border: none;
}

h2 {
    text-align: center;
    margin: 40px;
}

.sign-up {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .left {
    width: 30%;
    margin-right: 55px;
}

.sign-up .left img {
    height: 550px;
}

.sign-up .right {
    width: 40%;
    padding: 30px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 5px 5px 12px rgba(2, 2, 5, 0.2);
    margin-left: 30px;
}

.sign-up .right label {
    font-weight: 500;
}

.sign-up .right input {
    width: 100%;
    border: solid 1px #000;
    border-radius: 5px;
    height: 36px;
    margin-bottom: 0px;
}

.sign-up .right .password {
    margin: 0;
}

.sign-up .right p {
    margin-bottom: 20px;
}

.sign-up .login {
    width: 100%;
}

.sign-up .login a {
    color: #CE72DD;
}

.sign-up .right .terms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .right .terms input {
    width: 15px;
    margin-right: 10px;
}

.btn {
    margin: auto;
    width: 40%;
}

button {
    background-color: #CE72DD;
    border-radius: 20px;
    padding: 10px 40px;
    border: none;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 20%;
    margin: auto;
}

.images img {
    width: 20px;
}

.error p {
    color: red;
    font-size: 15px;
}

@media only screen and (max-width:880px) {
    .left {
        display: none;
    }
    .sign-up .left {
        width: 90%;
        margin: auto;
    }
    .sign-up .right {
        width: 90%;
        margin: 30px 0 0 0;
    }
}

.modal {
    background-color: rgb(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    display: none;
}

.modal .container {
    background-color: #fff;
    box-shadow: 5px 5px 12px rgba(2, 2, 5, 0.2);
    width: 30%;
    padding: 50px;
    position: relative;
    top: 150px;
    margin: auto;
    border-radius: 50px;
}

.modal .container .sign {
    width: 70px;
    height: 70px;
    background-color: #CE72DD;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
}

.modal .container .sign img {
    width: 50px;
    margin: auto;
}

.modal .container .btn {
    width: 100%;
}

.modal .container .btn a {
    color: white;
    padding: 15px 150px;
    background-color: #CE72DD;
    height: 50px;
    border-radius: 30px;
}

@media only screen and (max-width:480px) {
    .modal .container {
        width: 85%;
        top: 100px;
    }
    .modal .container .sign {
        width: 50px;
        height: 50px;
    }
    .modal .container .sign img {
        width: 35px;
        margin: auto;
    }
    .modal .container h2 {
        font-size: 18px;
    }
    .modal .container .btn {
        width: 100%;
    }
    .modal .container .btn a {
        color: white;
        padding: 15px 110px;
        background-color: #CE72DD;
        text-align: center;
        margin: auto;
    }
    .sign-up .right {
        margin-left: 0px;
    }
}